<nav class="navbar bg-success">
  <div class="container-fluid d-flex justify-content-center">
    <div clas="container-cart  py-5">
        <i class="fa-solid fa-cart-shopping text-white fs-1"></i>
    </div>

  </div>
</nav>